body {
    background-color: black;
    height: 100px;
    width: 100px;
}

main {
    background-color: white;
    border-radius: 35px;

    height: 700px;
    width: 350px;

    padding: 35px 10px;
    margin: 15px;
}

#paamon {
    float: right;
}

#arrow {
    float: left;
}

#adding {
    text-align: center;
    font-size: 27.39px;
    font-weight: 600;
    margin-top: 20px;
}

/* #card{
    height: 190px;
    width: 340px;
    margin-top: 15px;
    margin-left: 5px;
} */
#sectionCard {
    background-color: #7ED3DD;
    width: 335px;
    height: 150px;
    border-radius: 20px;
    padding-top: 25px;
    margin-top: 25px;
    margin-left: 7px;
}

#rectangleTop {
    background-color: rgba(10, 118, 133, 1);
    width: 100%;
    height: 40px;
}

#rectangleBase {
    background-color: rgb(221, 126, 156);
    width: 220px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    position: relative;
}

#rectangleWhite {
    background-color: white;
    width: 25%;
    height: 70%;
    border-radius: 5px;
    position: absolute;
    top: 8px;
    right: 8px;
}
#rectangle {
    display: inline-block;
    background-color: white;
    width: 65%;
    height: 9%;
}
#visa {
    margin-top: 20px;
    margin-left: 73%;
}

#fillCard {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    margin-top: 15px;
}

#value {
    color: rgb(202, 200, 200);
    margin-top: 50px;
    margin-left: 15px;
}

#variable {
    border-radius: 10px;
    height: 50px;
    width: 300px;
    margin-top: 15px;
    margin-left: 15px;
    padding-left: 25px;
    border: 1.5px solid rgb(186, 184, 184);
    font-size: 17px;
    font-weight: 500;
}

#complete {
    height: 50px;
    width: 150px;
    border-radius: 30px;
    background-color: #7D73C3;
    border: 0px;
    margin-top: 25px;
    margin-left: 190px;
    color: white;
    font-size: 19px;
    font-weight: 500;
}